li:first-child { 
    color: blue;
}

li:nth-child(2) {  
    color: red;
    font-size: 45px;
}

li:nth-child(3) {  
    color: orange;
    font-size: 25px;
}

li:nth-child(4) { 
    color: red;
    font-size: 40px;
}

li:last-child {
    color: green;
    font-size: 60px;
}
