* {
    font-family: Verdana;
}

h1 {
    color: blue;
    font-size: 20px;
    text-align: center;
}

li {
    font-size: 15px;
}

a:link {
 color: red;
}

a:hover {
    background-color: red;
}

a:visited {
    color: green;
}

a:active {
    color:blue;
}

